﻿<div class="legal">
    <div class="copyright">
        &copy; {{currentYear}} <a href="javascript:void(0);">Purification</a>.
    </div>
    <div class="version">
        <b>{{ "Version" | localize }} </b> {{versionText}}
    </div>
</div>