<form autocomplete="off" #createUnitForm="ngForm" (ngSubmit)="save()">
  <h1 mat-dialog-title>{{ "CreateUnit" | localize }}</h1>
  <mat-dialog-content>
    <div class="row-fluid">
      <div class="col-md-12">
        <mat-form-field class="example-full-width">
          <mat-label>{{ "TenantName" | localize }}</mat-label>
          <input type="text" matInput [formControl]="myControl"
          [(ngModel)]="unit.tenant" [matAutocomplete]="auto">
          <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn">
            <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
              {{option.name}}
            </mat-option>
          </mat-autocomplete>
        </mat-form-field>
        <mat-form-field>
          <input
            matInput
            name="UnitName"
            [placeholder]="'UnitName' | localize"
            [(ngModel)]="unit.name"
            required
            minlength="1"
            maxlength="64"
          />
        </mat-form-field>
      </div>
    </div>
  </mat-dialog-content>
  <div mat-dialog-actions align="end">
    <button mat-button type="button" [disabled]="saving" (click)="close(false)">
      {{ "Cancel" | localize }}
    </button>
    <button
      mat-flat-button
      type="submit"
      flex="15"
      color="primary"
      [disabled]="!createUnitForm.form.valid || saving"
    >
      {{ "Save" | localize }}
    </button>
  </div>
</form>
