<form autocomplete="off" #createSensorForm="ngForm" (ngSubmit)="save()">
  <h1 mat-dialog-title>{{ "CreateSensor" | localize }}</h1>
  <mat-dialog-content>
    <div class="row-fluid">
      <div class="col-md-12">
       
        <!-- <mat-form-field>
          <mat-label>{{ "DeviceName" | localize }}</mat-label>
          <mat-select [(ngModel)]="sensor.device" name="DeviceName" required>
            <mat-option *ngFor="let device of devices" [value]="device">
              {{ device.name }}
            </mat-option>
          </mat-select>
        </mat-form-field> -->


        <mat-form-field class="example-full-width">
          <mat-label>{{ "DeviceName" | localize }}</mat-label>
          <input type="text" matInput [formControl]="myControl"
          [(ngModel)]="sensor.device" [matAutocomplete]="auto">
          <mat-autocomplete (optionSelected)="getUnitSelectDeviceList($event.option.value)" #auto="matAutocomplete" [displayWith]="displayFn">
            <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
              {{option.name}}
            </mat-option>
          </mat-autocomplete>
        </mat-form-field>

        <mat-form-field>
          <mat-label>{{ "UnitName" | localize }}</mat-label>
          <mat-select [(ngModel)]="sensor.unit" name="UnitName" required>
            <mat-option *ngFor="let unit of units" [value]="unit">
              {{ unit.name }}
            </mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field>
          <input
            matInput
            name="SensorName"
            [placeholder]="'SensorName' | localize"
            [(ngModel)]="sensor.name"
            required
            minlength="2"
            maxlength="64"
          />
        </mat-form-field>

        <mat-form-field>
          <input
            matInput
            name="SensorDisplayName"
            [placeholder]="'SensorDisplayName' | localize"
            [(ngModel)]="sensor.displayName"
            required
            minlength="2"
            maxlength="64"
          />
        </mat-form-field>
       
       
      </div>
    </div>
  </mat-dialog-content>
  <div mat-dialog-actions align="end">
    <button mat-button type="button" [disabled]="saving" (click)="close(false)">
      {{ "Cancel" | localize }}
    </button>
    <button
      mat-flat-button
      type="submit"
      flex="15"
      color="primary"
      [disabled]="!createSensorForm.form.valid || saving"
    >
      {{ "Save" | localize }}
    </button>
  </div>
</form>
