<form autocomplete="off" #createDeviceForm="ngForm" (ngSubmit)="save()">
  <h1 mat-dialog-title>{{ "CreateDevice" | localize }}</h1>
  <mat-dialog-content>
    <div class="row-fluid">
      <div class="col-md-12">
        <!-- <mat-form-field>
          <mat-label>{{ "TenantName" | localize }}</mat-label>
          <mat-select [(ngModel)]="device.tenant" name="TenantName" required>
            <mat-option *ngFor="let tenant of tenants" [value]="tenant">
              {{ tenant.name }}
            </mat-option>
          </mat-select>
        </mat-form-field> -->
     

        <mat-form-field class="example-full-width">
          <mat-label>{{ "TenantName" | localize }}</mat-label>
          <input type="text" matInput [formControl]="myControl"
          [(ngModel)]="device.tenant" [matAutocomplete]="auto">
          <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn">
            <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
              {{option.name}}
            </mat-option>
          </mat-autocomplete>
        </mat-form-field>

        <mat-form-field>
          <input
            matInput
            name="DeviceName"
            [placeholder]="'DeviceName' | localize"
            [(ngModel)]="device.name"
            required
            minlength="2"
            maxlength="64"
          />
        </mat-form-field>
        <!-- <div class="dx-field">
          <div class="dx-field-value" style="width: 100%;">
            <dx-select-box
              [dataSource]="tenants"
              placeholder="TenantName"
              displayExpr="name"
              [searchMode]="searchModeOption"
              [searchTimeout]="searchTimeoutOption"
              [minSearchLength]="minSearchLengthOption"
              [searchEnabled]="true"
            ></dx-select-box>
          </div>
        </div> -->
      </div>
    </div>
  </mat-dialog-content>
  <div mat-dialog-actions align="end">
    <button mat-button type="button" [disabled]="saving" (click)="close(false)">
      {{ "Cancel" | localize }}
    </button>
    <button
      mat-flat-button
      type="submit"
      flex="15"
      color="primary"
      [disabled]="!createDeviceForm.form.valid || saving"
    >
      {{ "Save" | localize }}
    </button>
  </div>
</form>
