<form autocomplete="off" #editEngineElementForm="ngForm" (ngSubmit)="save()">
  <h1 mat-dialog-title>{{ "EditEngineElement" | localize }}</h1>
  <mat-dialog-content>
    <div class="row-fluid">
      <div class="col-md-12">
        <!-- <mat-form-field>
          <mat-label>{{ "DeviceName" | localize }}</mat-label>
          <mat-select [(ngModel)]="engineElement.device" [compareWith]="customCompare" name="DeviceName" required>
            <mat-option *ngFor="let device of devices" [value]="device">
              {{ device.name }}
            </mat-option>
          </mat-select>
        </mat-form-field> -->
        <mat-form-field class="example-full-width">
          <mat-label>{{ "DeviceName" | localize }}</mat-label>
          <input type="text" matInput [formControl]="myControl"
          [(ngModel)]="engineElement.device" [matAutocomplete]="auto">
          <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn">
            <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
              {{option.name}}
            </mat-option>
          </mat-autocomplete>
        </mat-form-field>
        <mat-form-field>
          <input matInput name="EngineElementName" [placeholder]="'EngineElementName' | localize"
          [(ngModel)]="engineElement.name" required minlength="2" maxlength="64" />
        </mat-form-field>
        <mat-form-field>
          <input matInput name="EngineElementDisplayName" [placeholder]="'EngineElementDisplayName' | localize"
          [(ngModel)]="engineElement.displayName" required minlength="2" maxlength="64" />
        </mat-form-field>
        <mat-form-field>
          <input matInput type="number" name="EngineElementStatus" [placeholder]="'EngineElementStatus' | localize"
          [(ngModel)]="engineElement.status" required />
        </mat-form-field>
       
      </div>
    </div>
  </mat-dialog-content>
  <div mat-dialog-actions align="end">
    <button mat-button type="button" [disabled]="saving" (click)="close(false)">
      {{ "Cancel" | localize }}
    </button>
    <button mat-flat-button type="submit" flex="15" color="primary" [disabled]="!editEngineElementForm.form.valid || saving">
      {{ "Save" | localize }}
    </button>
  </div>
</form>