<form autocomplete="off" #editSensorForm="ngForm" (ngSubmit)="save()">
  <h1 mat-dialog-title>{{ "EditSensor" | localize }}</h1>
  <mat-dialog-content>
    <div class="row-fluid">
      <div class="col-md-12">
        <mat-form-field>
          <input matInput name="SensorName" [placeholder]="'SensorName' | localize"
          [(ngModel)]="sensor.name" required minlength="2" maxlength="64" />
        </mat-form-field>
        <mat-form-field>
          <input matInput name="SensorDisplayName" [placeholder]="'SensorDisplayName' | localize"
          [(ngModel)]="sensor.displayName" required minlength="2" maxlength="64" />
        </mat-form-field>
        <mat-form-field>
          <mat-label>{{ "UnitName" | localize }}</mat-label>
          <mat-select [(ngModel)]="sensor.unit" [compareWith]="customCompare" name="UnitName" required>
            <mat-option *ngFor="let unit of units" [value]="unit">
              {{ unit.name }}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <!-- <mat-form-field>
          <mat-label>{{ "DeviceName" | localize }}</mat-label>
          <mat-select [(ngModel)]="sensor.device" [compareWith]="customCompare" name="DeviceName" required>
            <mat-option *ngFor="let device of devices" [value]="device">
              {{ device.name }}
            </mat-option>
          </mat-select>
        </mat-form-field> -->
      </div>
    </div>
  </mat-dialog-content>
  <div mat-dialog-actions align="end">
    <button mat-button type="button" [disabled]="saving" (click)="close(false)">
      {{ "Cancel" | localize }}
    </button>
    <button mat-flat-button type="submit" flex="15" color="primary" [disabled]="!editSensorForm.form.valid || saving">
      {{ "Save" | localize }}
    </button>
  </div>
</form>