<div class="row clearfix" [@routerTransition]>
  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
    <div class="card main-content">
      <div class="header">
        <h2>{{ "SensorDataReport" | localize }}</h2>
      </div>
      <div class="body table-responsive">
        <div id="chart-demo">
          <mat-form-field class="col-md-3 col-xs-12">
            <mat-label>{{ "SensorName" | localize }}</mat-label>
            <input type="text" matInput [formControl]="myControl"
            [(ngModel)]="sensor" [matAutocomplete]="auto">
            <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn" (optionSelected)="selected($event.option.value)">
              <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
                {{option.displayName}} ({{option.unit.name}}) - {{option.tenant.name}}
              </mat-option>
            </mat-autocomplete>
          </mat-form-field>
          <div class="example-button-row col-md-6 col-xs-12">
            <button mat-raised-button color="primary" (click)="oneHour()">Hour</button>
            <button mat-raised-button color="primary" (click)="oneDay()">Day</button>
            <button mat-raised-button color="primary" (click)="oneWeek()">Week</button>
            <button mat-raised-button color="primary" (click)="oneMount()">Mount</button>
          </div>
          <dx-chart
            palette="violet"
            [dataSource]="chartDataSource"
            title="Sensor Test Results"
          >
            <dxi-series valueField="value" name="Value"></dxi-series>
            <dxo-common-series-settings 
            argumentField="date" 

            [type]="spline">
            </dxo-common-series-settings>
            <dxo-argument-axis>
              <dxo-label wordWrap="none" overlappingBehavior="rotate"></dxo-label>
          </dxo-argument-axis>
            <!-- <dxo-argument-axis>
              <dxo-label [customizeText]="customizeText"></dxo-label>
          </dxo-argument-axis> -->


            <dxo-margin [bottom]="20"></dxo-margin>
            <dxo-common-axis-settings>
              <dxo-grid [visible]="true"></dxo-grid>
            </dxo-common-axis-settings>
            <dxo-legend verticalAlignment="top" horizontalAlignment="right">
            </dxo-legend>
            <dxo-argument-axis
              [allowDecimals]="false"
              [axisDivisionFactor]="60"
            >
              <dxo-label>
                <dxo-format type="decimal"></dxo-format>
              </dxo-label>
            </dxo-argument-axis>
            <dxo-export [enabled]="true"></dxo-export>
            <dxo-tooltip [enabled]="true"></dxo-tooltip>
          </dx-chart>
          <!-- <div class="action">
              <dx-select-box
                  id="selectbox"
                  [items]="months"
                  [width]="150"
                  [value]="1"
                  valueExpr="id"
                  displayExpr="name"
                  (onValueChanged)="onValueChanged($event)"
              ></dx-select-box>
              <div class="label">Choose a month:</div>
          </div> -->
        </div>
      </div>
    </div>
  </div>
</div>
