<div class="row clearfix" [@routerTransition]>
  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
    <div class="card main-content">
      <div class="header">
        <h2>{{ "Profile" | localize }}</h2>
      </div>
      <div class="body" style="min-height: 450px;">
        <p-fileUpload
          name="myFile[]"
          maxFileSize="1000000000"
          customUpload="true"
          auto="auto"
          (uploadHandler)="myUploader($event)"
          (onUpload)="onUpload($event)"
          (onBeforeSend)="onBeforeSend($event)"
        >
          <ng-template pTemplate="content">
            <ul *ngIf="uploadedFiles.length">
              <li *ngFor="let file of uploadedFiles">
                {{ file.name }} - {{ file.size }} bytes
              </li>
            </ul>
          </ng-template>
        </p-fileUpload>
      </div>
    </div>
  </div>
</div>
