<form autocomplete="off" #createElementStatusForm="ngForm" (ngSubmit)="save()">
  <h1 mat-dialog-title>{{ "CreateElementStatus" | localize }}</h1>
  <mat-dialog-content>
    <div class="row-fluid">
      <div class="col-md-12">
       
        <!-- <mat-form-field>
          <mat-label>{{ "DeviceName" | localize }}</mat-label>
          <mat-select [(ngModel)]="elementStatus.engineElement" name="DeviceName" required>
            <mat-option *ngFor="let engineElement of engineElements" [value]="engineElement">
              {{ engineElement.name }}
            </mat-option>
          </mat-select>
        </mat-form-field> -->


        <mat-form-field class="example-full-width">
          <mat-label>{{ "EngineElementName" | localize }}</mat-label>
          <input type="text" matInput [formControl]="myControl"
          [(ngModel)]="elementStatus.engineElement" [matAutocomplete]="auto">
          <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn">
            <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
              {{option.name}}
            </mat-option>
          </mat-autocomplete>
        </mat-form-field>

        <mat-form-field>
          <input
            matInput type="number"
            name="ElementStatusStatus"
            [placeholder]="'ElementStatusStatus' | localize"
            [(ngModel)]="elementStatus.status"
            required
            min="0"
            max="2"
          />
        </mat-form-field>
       
       
      </div>
    </div>
  </mat-dialog-content>
  <div mat-dialog-actions align="end">
    <button mat-button type="button" [disabled]="saving" (click)="close(false)">
      {{ "Cancel" | localize }}
    </button>
    <button
      mat-flat-button
      type="submit"
      flex="15"
      color="primary"
      [disabled]="!createElementStatusForm.form.valid || saving"
    >
      {{ "Save" | localize }}
    </button>
  </div>
</form>
